body {
    background-color: #05141b;
}

.pic1 {
    height:  408px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;  
}

.text1{
    margin: 10px;
    color: ghostwhite;
    text-align: center;
    font-family: cursive;
}

.HACHI {
    height:300px;
    width: 300px;
    border-radius: 50%;
    margin: 20px;
    border: 3px;
    border-style: solid;
    border-color: white;
}

h1, h2, h3, p {
    margin: 10px;
    color: ghostwhite;
    text-align: center;
    
}

.sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 50px;
    color:lightyellow;
  }

.sour-gummy-anya {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .sour-gummy-anya2 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .sour-gummy-anya3 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color:lightyellow;
  }

hr {
    border: none;
    border-top: 1px solid #1f3c4c;
    margin: 30px 0;
    width: 80%;
}

.skills {
    margin-bottom: 20px;
    font-size: 24px;
}

.chiikawa {
    height:250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px;
    border: 3px;
    border-style: solid;
    border-color: white;
}

.hachi {
    height:250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px;
    border: 3px;
    border-style: solid;
    border-color: white;
}

.usagi {
    height:250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px;
    border: 3px;
    border-style: solid;
    border-color: white;
}

.first, .third {
    margin-left: 350px;
}

.second {
    margin-right: 350px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #04243C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contactmessages .btn:hover {
    background-color: #1e4b60;
}


.footer {
    color: #80cbc4;
    text-decoration: none;
    font-weight: bold;
}

.infos {
    text-align: center;
    margin-top: 40px;
}

.copyright {
    font-size: 20px;
    color: #999;
    margin-top: 5px;
}
